.question-card.answer {
  max-width: 700px;
  margin: auto;
  margin-top: 10rem;

  .btn--accent {
    background-color: $MaterialUiAccentColor;
    &:hover {
      background-color: lighten($MaterialUiAccentColor, 20%);
    }
  }

  .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 2rem;
  }
}

.question-vote {
  width: 80%;
  display: table;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  .optionContent {
    width: 100%;
    height: 30px;
  }
  @media screen and (max-width: 500px) {
    & {
      width: 70%;
    }
  }
}

.question-vote.user-selected::after {
  content: url('https://image.flaticon.com/icons/png/512/1828/1828652.png');
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  transform: scale(0.07);
  left: -5rem;
  top: 1.5rem;
}
