.question-card.answer {
  max-width: 700px;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  height: 100%;
  .btn--accent {
    background-color: lighten($MaterialUiAccentColor, 20%);
    color: #fff;
    border: 1px solid lighten($MaterialUiAccentColor, 20%);
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: $MaterialUiAccentColor;
      background:transparent;
      color: $MaterialUiAccentColor;
    }
  }

  .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 2rem;
    margin-left: 1.5rem;
    text-align: center;
  }
  .MuiFormControlLabel-root.card__question {
    width: 100%;
    margin-left: 1.5rem;
  }
}

.question-vote {
  width: 80%;
  display: table;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  .optionContent {
    width: 100%;
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .form-answer {
    display: flex;
    flex-direction: column;
  }
  .question-vote {
    margin-top: 4rem;
    width: 70%;
  }
}
.question-vote.user-selected::after {
  content: url('https://image.flaticon.com/icons/png/512/1828/1828652.png');
  display: block;
  position: absolute;
  transform: scale(0.05);
  width: 1px;
  height: 1px;
  left: -4rem;
  top: 1.5rem;
}

@media screen and (max-width: 306px) {
  .question-vote.user-selected::after {
    left: 8rem;
    top: -3.5rem;
  }
}
