$headerHeight: 70px;
$cardHeight: 330px;

.question-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2rem;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  .card__header {
    text-align-last: left;
    max-height: $headerHeight;
    align-self: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
    padding: 1rem;
    font-size: 2.9rem;
    margin-bottom: 1rem;
  }
  .card__body {
    width: 100%;
    height: $cardHeight - $headerHeight; //to expand to fill remaining height
    display: flex;
    flex: 4;
    flex-flow: row nowrap;
    .card__avatar {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin-right: 2rem;
      .avatar__img {
        min-width: 130px;
        min-height: 130px;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid $MaterialUiPrimaryColor;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        &:hover {
          border-color: lighten($MaterialUiPrimaryColor, 20%);
        }
      }
    }

    .card__info {
      text-align-last: left;
      font-size: 1rem;
      flex: 3;
      position: relative;
      .card__heading {
        position: relative;
        font-size: 3rem;
        font-weight: 500;
        margin-top: 2rem;
        .time-duration {
          position: absolute;
          top: -1.5rem;
          left: 0.2rem;
          font-size: 1.3rem;
          font-weight: 100;
          color: gray;
          letter-spacing: 2px;
        }
      }
      .card__question {
        font-size: 2rem;
        margin-bottom: 1rem;
        .card__Or-separator {
          font-weight: 900;
          font-size: 2.5rem;
          color: $MaterialUiSecondaryColor;
        }
      }

      .btn {
        text-align: center;
        width: 80%;
        margin: 0;
        font-size: 2rem;
      }
    }
  }

  @media screen and (max-width: 480px) {
    & {
      height: 450px;
      text-align: center;
      justify-content: center;
    }
      .card__header {
        font-size: 1.9rem;
      }

    .card__body {
      flex-direction: column;
      .card__info {
        .card__heading,
        .card__question {
          text-align: center;
          margin: auto;
          width: max-content;
          display: table;
          
        }
        .card__question  {
          margin: 1rem auto;
          text-align: center;
        }
        .btn {
          .MuiButton-label {
            width: max-content;
            margin: auto;
          }
          width: 80%;
          margin: auto;
        }
        .card__heading {
          font-size: 2.5rem;
          font-weight: 900;
          margin-top: 3.5rem;
          .time-duration {
            top: -3.4rem;
          }
        }
      }

      .avatar__img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
      }
    }
  }
}
